@import "../../style/config";

header {
  grid-column: full-start / full-end;
  grid-row: 1/2;

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;

    &__logo {
      h2 {
        font-size: 30px;
        text-transform: uppercase;
        font-family: -apple-system, BlinkMacSystemFont;
      }
    }

    &__search {
      border: 1px solid $color-light-grey-1;

      &--box {
        display: flex;
        align-items: center;

        input[type="text"] {
          width: 28rem;
          height: 2.3rem;
          border: none;
          outline: none;
          border-radius: 3px;

          font-size: 15px;
          padding-left: 10px;
        }

        button {
          border: none;
          outline: none;
          background: $color-white;
          border-left: 1px solid $color-light-grey-1;
          width: 40px;
          height: 38.79px;
          cursor: pointer;
        }
        svg {
          width: 1.2rem;
          height: 1.2rem;
          transform: translateY(3px);
          background: $color-white;
        }
      }
    }

    &__cart {
      &--items {
        width: 100%;

        display: grid;
        grid-template-columns: min-content minmax(min-content, 1fr);
        grid-template-rows: repeat(2, min-content);
        grid-column-gap: 8px;
      }
      .svg--bag {
        grid-column: 1/2;
        grid-row: 1/-1;

        width: 50px;
        height: 50px;
        background: $color-light-blue-1;
        border: none;
        border-radius: 50%;
        position: relative;
      }
      svg {
        position: absolute;
        top: 10px;
        left: 12px;

        width: 1.7rem;
        height: 1.7rem;
      }
      span:first-of-type {
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 2/3;
        align-self: bottom;
        transform: translateY(3px);

        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
      }
      span:last-of-type {
        width: 100%;
        grid-row: 2/ 3;
        grid-column: 2/3;

        font-size: 12px;
        font-weight: 200;
      }
    }
  }

  .Nav {
    background: $color-light-grey-2;
    color: $color-white;

    border-bottom: 3px solid $color-light-blue-1;

    padding: 0 3.5rem;

    display: grid;
    grid-template-columns: minmax(254.98px, 1fr) repeat(3, 1fr);
    grid-template-rows: min-content;
    align-items: center;
    grid-gap: 1.3rem;

    @media only screen and (max-width: 1100px) {
      grid-template-columns: minmax(200px, 1fr) repeat(3, 1fr);
    }

    @media only screen and (max-width: 900px) {
      grid-template-columns: minmax(150px, 1fr) repeat(3, 1fr);
    }

    // #### start of Nav menu ######
    &__menu {
      grid-column: 1/2;

      position: relative;
      width: 100%;

      &--burger {
        background: $color-light-blue-1;

        padding: 0.7rem 1rem;

        @media only screen and (max-width: 1000px) {
          padding: 0.7rem 0.5rem;
        }
        @media only screen and (max-width: 900px) {
          padding: 0.7rem 0.3rem;
        }
        @media only screen and (max-width: 770px) {
          padding: 0.7rem 1rem;
        }
        h3 {
          display: flex;
          align-items: center;

          font-size: 15px;
          font-weight: 600;
          letter-spacing: 1.5px;
          word-spacing: 3px;

          @media only screen and (max-width: 1000px) {
            font-size: 14px;
            letter-spacing: 1.2px;
          }
          @media only screen and (max-width: 900px) {
            font-size: 13px;
          }

          span {
            padding-left: 10px;
            @media only screen and (max-width: 1100px) {
              padding-left: 0;
            }
          }
        }
        svg {
          width: 1.6rem;
          height: 1.6rem;
          fill: $color-white;

          @media only screen and (max-width: 900px) {
            width: 1.3rem;
            height: 1.3rem;
          }
          @media only screen and (max-width: 770px) {
            width: 1.8rem;
            height: 1.8rem;
          }
        }
      }

      #show {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        // to make the width of label tag with the li tag
        // I do padding right double of the padding of li tags
        // and for the border bottom(1.1rem) of li tag reduce 1 unite so that they match with the border of label tag
        // becuase we reduce 1 unit for the padding-right(2.3rem) of label
        // padding-right: 2.3rem;
        width: 100%;

        border: 0.8px solid $color-light-grey-3;
        border-top: none;
        background: $color-white;

        @media only screen and (max-width: 770px) {
          display: none;
        }
      }
      #hide {
        display: none;
      }
    }

    // #### end of Nav menu ######
    &__button {
      position: absolute;
      z-index: 100;
      // ##### both Nav__button and #show  have to be
      // ##### display as none coz they represent the label tag
      @media only screen and (max-width: 770px) {
        display: none;
      }

      ul {
        list-style: none;
        width: 100%;
      }
    }
    &__detail--home {
      padding: 15px 0 6px 0;
      margin-left: 1.2rem;
      border-bottom: 0.8px solid $color-light-grey-3;

      @media only screen and (max-width: 770px) {
        border-bottom: none;
      }
      a {
        text-decoration: none;
        color: $color-light-grey-4;

        display: flex;
        justify-items: center;
      }
      svg {
        width: 1rem;
        height: 1rem;
        fill: $color-light-grey-4;
      }
      .svg--icon {
        @media only screen and (max-width: 1000px) {
          display: none;
        }
      }
      .categories {
        padding-left: 8px;
        transform: translateY(-4px);
        margin-right: auto;

        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        @media only screen and (max-width: 1000px) {
          padding-left: 0;
        }
        @media only screen and (max-width: 770px) {
          padding-left: 8px;
        }
      }
      svg:last-of-type {
        justify-self: flex-end;
      }
    }
    &__header {
      grid-column: 2/4;
      justify-self: flex-end;

      display: flex;

      &--content {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &--bag {
        position: relative;
        svg {
          width: 30px;
          height: 30px;
          fill: $color-white;
          cursor: pointer;
        }

        .Nav__header--trolley {
          position: absolute;
          top: 46px;
          right: -1rem;
          width: 300px;
          height: 150px;
          background-color: $color-black-5;
          z-index: 100;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          // writing this in with the rest of media query does not run the code
          // so I put it here
          @media only screen and (max-width: 900px) {
            right: -3.5rem;
            top: 43px;
          }

          @media only screen and (max-width: 770px) {
            right: -1rem;
            top: 46px;
          }

          @media only screen and (max-width: 500px) {
            width: 250px;
            height: 130px;
          }

          @media only screen and (max-width: 420px) {
            width: 200px;
            height: 150px;
          }

          svg {
            fill: $color-black-3;
            @media only screen and (max-width: 500px) {
              width: 22px;
              height: 22px;
              cursor: pointer;
            }
          }

          p {
            color: $color-black-3;
            @media only screen and (max-width: 900px) {
              font-size: 14px;
            }
            @media only screen and (max-width: 500px) {
              padding-top: 0.6rem;
              font-size: 13px;
            }
          }
        }
      }

      &--item {
        h3 {
          font-size: 13px;
          font-weight: 400;
          text-transform: capitalize;
        }
      }
      .seperator {
        padding: 0 10px;
        font-size: 13px;
        transform: translateY(1px);
        color: $color-light-grey-4;
      }
    }

    &__offer {
      grid-column: 4/-1;
      justify-self: flex-end;

      &--item {
        h3 {
          background: $color-pink;
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
          max-width: 100px;

          padding: 5px 8px;
          border-radius: 3px;
        }
      }
    }
  }
}

header {
  .navigation {
    @media only screen and (max-width: 500px) {
      justify-content: center;
    }

    &__logo h2 {
      @media only screen and (max-width: 1000px) {
        font-size: 27px;
      }
      @media only screen and (max-width: 500px) {
        font-size: 24px;
      }
    }
    &__search {
      @media only screen and (max-width: 600px) {
        display: none;
      }

      input[type="text"] {
        @media only screen and (max-width: 1000px) {
          width: 18rem;
        }
      }
    }

    &__cart {
      @media only screen and (max-width: 890px) {
        display: none;
      }

      @media only screen and (max-width: 500px) {
        display: none;
      }
    }
  }

  .Nav {
    @media only screen and (max-width: 770px) {
      padding: 0 1rem;
      display: grid;
      grid-template-columns: min-content repeat(3, 1fr);
    }

    &__menu {
      &--burger span {
        @media only screen and (max-width: 770px) {
          display: none;
        }
      }
    }
    &__header {
      @media only screen and (max-width: 1160px) {
        grid-column: 2/-1;
      }
      &--content {
        @media only screen and (max-width: 890px) {
          display: none;
        }
      }
      &--bag {
        @media only screen and (min-width: 890px) {
          display: none;
        }
      }
    }
    &__offer {
      @media only screen and (max-width: 1160px) {
        display: none;
      }
    }
  }
}
