@import "../../style/config";

.main__product {
  display: grid;

  //  because it have to be lined with homepage I use the same grid
  grid-template-columns: minmax(254.98px, 1fr) repeat(3, 1fr);
  grid-template-rows: min-content;

  grid-gap: 1.3rem;
  padding: 2rem 3.5rem;

  @media only screen and (max-width: 1100px) {
    grid-template-columns: minmax(200px, 1fr) repeat(3, 1fr);
  }

  @media only screen and (max-width: 900px) {
    grid-template-columns: minmax(150px, 1fr) repeat(3, 1fr);
  }

  @media only screen and (max-width: 770px) {
    padding: 2rem 1rem;
  }

  @media only screen and (max-width: 600px) {
    padding: 10px 1rem;
  }

  // ##### start of main__product--left ####
  &--left {
    grid-column: 1/2;

    @media only screen and (max-width: 770px) {
      display: none;
    }
  }

  .product__timing {
    position: relative;
    overflow: hidden;
    margin-bottom: 1.5rem;
    border: 0.8px solid $color-light-grey-3;

    &--img {
      background-image: linear-gradient(
          to right,
          rgba($color-light-grey-2, 0.2),
          rgba($color-light-grey-2, 0.2)
        ),
        url(../../assets/images/snow.jpg);

      background-position: center;
      background-size: cover;
      background-clip: content-box;

      width: 100%;
      height: 65vh;
      transition: all 1s;

      @media only screen and (max-width: 1100px) {
        height: 50vh;
      }
    }

    &--img:hover {
      transform: scale(1.1);
    }
    &--grid {
      display: flex;
      flex-direction: column;

      pointer-events: none;

      position: absolute;
      top: 20%;
      left: 8%;

      @media only screen and (max-width: 1100px) {
        top: 10%;
      }
    }

    .day--timer,
    .hour--timer,
    .minute--timer,
    .second--timer {
      max-width: 50px;
      max-height: 55px;
      border: 1px solid $color-black-2;
      padding: 0 2px;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 600;
      text-align: center;

      @media only screen and (max-width: 1100px) {
        max-width: 45px;
        max-height: 50px;
        margin-bottom: 6px;
      }
      @media only screen and (max-width: 900px) {
        max-width: 40px;
        max-height: 45px;
      }

      span {
        display: block;
        padding-bottom: -3px;
        color: $color-black-3;
        font-size: 18px;
        font-weight: 600;
        @media only screen and (max-width: 900px) {
          font-size: 16px;
        }
      }
    }

    .day--timer {
      background: $color-light-blue-1;
      color: $color-black-2;
      border: 1px solid $color-light-blue-1;
      span {
        color: $color-black-2;
      }
    }

    .hour--timer,
    .minute--timer,
    .second--timer {
      color: $color-black-1;
      background: $color-black-2;
    }

    &--para {
      text-align: center;
      padding-top: 1.5rem;

      margin-left: 2rem;
      @media only screen and (max-width: 1100px) {
        margin-left: 0;
        font-size: 14px;
        padding-top: 1rem;
      }

      @media only screen and (max-width: 900px) {
        padding-top: 1.5rem;
        font-size: 13px;
      }

      a {
        text-decoration: none;
        color: $color-white;
      }
    }
  }

  .product__testimonial {
    background: $color-black-4;
    border: 0.8px solid $color-light-grey-3;
    padding: 2rem 5px;

    margin-bottom: 1.5rem;

    @media only screen and (max-width: 900px) {
      padding: 10px 5px;
    }

    &--content {
      padding: 0 2rem;
      @media only screen and (max-width: 1100px) {
        padding: 0 1rem;
      }
      @media only screen and (max-width: 900px) {
        padding: 0;
      }
    }

    .testimonial__details {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .testimonial--img {
      padding-bottom: 1rem;
      img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
      }
    }
    .testimonial--para {
      text-align: center;
      padding-bottom: 1rem;
      margin: 0 6px 0 6px;
      @media only screen and (max-width: 900px) {
        margin: 0;
        padding-bottom: 8px;
      }

      p {
        font-size: 14px;
        font-weight: 500;
        color: $color-light-grey-2;
        @media only screen and (max-width: 900px) {
          font-size: 13px;
        }
      }
    }

    .testimonial--para:after {
      content: " ";
      display: inline-block;
      width: 35%;
      height: 1px;
      background-color: $color-light-grey-3;

      margin-top: 20px;
    }

    .testimonial--name {
      h3 {
        font-size: 13px;
        font-weight: 600;
      }
    }
  }

  .product__discount {
    border: 0.8px solid $color-light-grey-3;
    overflow: hidden;
    position: relative;

    &--img {
      background-image: linear-gradient(
          to right,
          rgba($color-light-grey-2, 0.2),
          rgba($color-light-grey-2, 0.2)
        ),
        url(../../assets/images/tamara-bellis-10.jpg);

      background-position: center;
      background-size: cover;
      background-clip: content-box;

      height: 70vh;

      display: flex;
      justify-items: center;
      align-items: center;

      transition: all 1s;

      @media only screen and (max-width: 900px) {
        height: 55vh;
      }
    }

    &--img:hover {
      transform: scale(1.1);
    }

    .discount--article {
      background: transparent;
      color: $color-white;
      position: absolute;
      top: 30%;
      pointer-events: none;

      width: 100%;

      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;

      font-family: sans-serif;
      text-transform: uppercase;

      @media only screen and (max-width: 900px) {
        top: 25%;
      }

      h3 {
        font-size: 15px;
        font-weight: bold;

        letter-spacing: 1px;
        margin-bottom: 1rem;

        @media only screen and (max-width: 900px) {
          font-size: 14px;
        }
      }

      .article--para {
        letter-spacing: 2px;
        font-size: 15px;
        margin-bottom: 20px;
        text-align: center;

        @media only screen and (max-width: 1100px) {
          letter-spacing: 1.5px;
          font-size: 14px;
        }

        @media only screen and (max-width: 900px) {
          font-size: 13px;
        }

        span {
          display: block;
          text-align: center;

          font-size: 36px;
          font-weight: 900;

          @media only screen and (max-width: 1100px) {
            font-size: 32px;
            font-weight: 700;
          }

          @media only screen and (max-width: 900px) {
            font-size: 28px;
          }
        }
      }

      button {
        padding: 6px 1.2rem;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: $font-primary;

        border: none;
        outline: none;
        background: $color-light-blue-1;
        color: $color-white;

        @media only screen and (max-width: 900px) {
          font-size: 11px;
        }
      }
    }
  }
}
