@import "../../../style/config";

.footCategory {
  background: #303030;
  color: #aaa;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 3rem;

    border-bottom: 0.8px solid grey;

    @media only screen and (max-width: 950px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    @media only screen and (max-width: 770px) {
      padding: 0 1rem;
    }

    @media only screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }

    &--service,
    &--extra,
    &--information,
    &--contactUs {
      padding: 36px 0;
      @media only screen and (max-width: 950px) {
        padding: 36px 0 0 0;
      }
    }

    &--service h3,
    &--extra h3,
    &--information h3,
    &--contactUs h3 {
      color: $color-white;
      padding-bottom: 1.3rem;

      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 0.9px;
    }

    &--service ul,
    &--extra ul,
    &--information ul,
    &--contactUs ul {
      list-style: none;
    }

    &--service .list--item,
    &--extra .list--item,
    &--information .list--item,
    &--contactUs .list--item {
      padding-bottom: 10px;

      font-size: 13px;
      text-transform: capitalize;
    }

    &--service .list--item span,
    &--extra .list--item span,
    &--information .list--item span,
    &--contactUs .list--item span {
      cursor: pointer;
    }

    &--service .list--item span:hover,
    &--extra .list--item span:hover,
    &--information .list--item span:hover,
    &--contactUs .list--item span:hover {
      color: $color-light-blue-1;
    }

    &--service .list--item span::before,
    &--extra .list--item span::before,
    &--information .list--item span::before,
    &--contactUs .list--item span::before {
      content: "\003E";
      display: inline-block;
      padding-right: 8px;
    }

    &--contactUs {
      .contactUs--lists li {
        display: flex;
        align-items: center;

        margin-bottom: 1rem;
        font-size: 13px;
      }
      .contactUs--lists div {
        background: $color-light-blue-1;
        width: 35px;
        height: 35px;
        border-radius: 50%;

        position: relative;

        svg {
          width: 1rem;
          height: 1rem;
          position: absolute;
          top: 9px;
          left: 9px;
          fill: $color-white;
        }
      }
      .contactUs--lists span {
        margin-left: 1rem;
      }
    }
  }

  &__media {
    display: flex;
    justify-content: space-between;

    padding: 2.3rem 3rem 1rem 3rem;

    @media only screen and (max-width: 770px) {
      padding: 2.3rem 1rem 1rem 1rem;
    }
    @media only screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }

    &--message {
      @media only screen and (max-width: 600px) {
        padding-bottom: 1rem;
      }
    }
    &--message,
    &--payment {
      .media__lists,
      .payment__lists {
        display: flex;

        list-style: none;
      }

      .media__lists li {
        width: 35px;
        height: 35px;
        // background: blue;
        margin-right: 7px;
        border-radius: 3px;
      }

      .media__lists .facebook {
        background-color: #3a5b9c;
        position: relative;
      }
      .media__lists .twitter {
        background-color: #339bf0;
        position: relative;
      }
      .media__lists .google-plus {
        background-color: #e23b2c;
        position: relative;
      }
      .media__lists .spotify {
        background-color: #fda219;
        position: relative;
      }
      .media__lists .pinstry {
        background-color: #cc1b21;
        position: relative;
      }
      .media__lists .Linkden {
        background-color: #0384af;
        position: relative;
      }
      .media__lists .youtube {
        background-color: #f53d3d;
        position: relative;
      }
      .media__lists .facebook a,
      .media__lists .twitter a,
      .media__lists .google-plus a,
      .media__lists .spotify a,
      .media__lists .pinstry a,
      .media__lists .Linkden a,
      .media__lists .youtube a {
        text-decoration: none;
        color: $color-white;
      }
      .media__lists .facebook a:before,
      .media__lists .twitter a:before,
      .media__lists .google-plus a:before,
      .media__lists .spotify a:before,
      .media__lists .pinstry a:before,
      .media__lists .Linkden a:before,
      .media__lists .youtube a:before {
        font-family: FontAwesome;
        font-size: 17px;
        position: absolute;
        top: 4px;
        left: 10px;
      }

      .media__lists .facebook a:before {
        content: "\f09a";
        left: 13px;
      }
      .media__lists .twitter a:before {
        content: "\f099";
      }
      .media__lists .google-plus a:before {
        content: "\f0d5";
      }
      .media__lists .spotify a:before {
        content: "\f09e";
      }
      .media__lists .pinstry a:before {
        content: "\f0d3";
      }
      .media__lists .Linkden a:before {
        content: "\f0e1";
      }
      .media__lists .youtube a:before {
        content: "\f167";
      }
    }

    &--payment .payment__lists li {
      margin-right: 12px;

      img {
        width: 50px;
        height: 34px;
      }
    }
  }

  &__bottom {
    background-color: #444;
    display: flex;

    padding: 1.2rem 3rem;
    @media only screen and (max-width: 770px) {
      padding: 1.2rem 1rem;
      flex-direction: column;
      align-items: center;
    }

    &--copyRight {
      margin-right: auto;
      font-size: 13px;
      font-weight: 500;
      text-transform: capitalize;

      @media only screen and (max-width: 770px) {
        margin-right: 0;
        padding-bottom: 8px;
      }
    }

    &--extension .extension--lists {
      list-style: none;
      display: flex;
      @media only screen and (max-width: 500px) {
        flex-direction: column;
      }
    }

    &--extension .extension--lists li {
      padding-left: 1.5rem;

      font-size: 13px;
      font-weight: 500;
      text-transform: capitalize;
      cursor: pointer;

      @media only screen and (max-width: 500px) {
        padding-bottom: 4px;
      }
    }
    &--extension .extension--lists li:hover {
      color: $color-light-blue-1;
    }
  }
}
