$font-primary: "Poppins", sans-serif;
$font-secondary: "Open Sans", sans-serif;

$color-white: #fff;
$color-light-grey-1: #e5e5e5;
$color-light-grey-2: #333;
$color-light-grey-3: rgb(209, 209, 209);
$color-light-grey-4: #777;
$color-light-grey-5: #444;

$color-black: #000;
$color-black-1: #808080;
$color-black-2: #fbfbfb;
$color-black-3: #3f3f3f;
$color-black-4: #f8f8f8;
$color-black-5: #f2f2f2;

$color-pink: #e41e6a;

$color-light-blue-1: #0084c1fb;
