@import "../../style/config";

.menu {
  grid-column: 2/-1;

  @media only screen and (max-width: 770px) {
    grid-column: 1/-1;
  }

  &__content {
    display: flex;
    flex-direction: column;

    height: 100%;
  }

  //   #### start of newproduct--title ######
  &__content--newProduct {
    padding-bottom: 2rem;
  }
  &__newProduct--title {
    border-bottom: 3px solid #d3d3d3;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }

    .newProducts--title {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      transform: translateY(4px);

      @media only screen and (max-width: 600px) {
        padding-bottom: 1rem;
      }
    }
    .menu__newProducts--lists {
      list-style: none;
      display: flex;

      @media only screen and (max-width: 450px) {
        flex-wrap: wrap;
        justify-content: flex-end;

        padding-bottom: 8px;
      }
    }
    .newProducts__lists--item {
      border: 1px solid $color-black-5;

      padding: 8px 0.8rem;
      background: $color-black-5;
      transition: all 0.6s;

      @media only screen and (max-width: 334px) {
        margin-bottom: 8px;
      }
      a {
        text-decoration: none;
        color: $color-light-grey-4;

        display: block;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;

        @media only screen and (max-width: 450px) {
          font-size: 11px;
        }
      }
    }
    .newProducts__lists--item:not(:last-of-type) {
      margin-right: 2px;
    }
    .newProducts__lists--item:last-of-type {
      background: $color-light-blue-1;
      border: 1px solid $color-light-blue-1;
      a {
        color: $color-white;
      }
    }
    .newProducts__lists--item:hover {
      background: $color-light-blue-1;
      border: 1px solid $color-light-blue-1;
      a {
        color: $color-white;
      }
    }
  }
  //   #### end of newproduct--title ######
  //   #### start of newproduct--option ######
  &__newProduct--options {
    padding-top: 1rem;

    .newProduct__options--lists {
      list-style: none;

      display: grid;
      grid-template-columns: repeat(4, minmax(150px, 1fr));
      grid-template-rows: min-content;
      grid-column-gap: 1rem;

      @media only screen and (max-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    .newProducts--grid {
      @media only screen and (max-width: 1000px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, min-content);
        grid-row-gap: 1rem;
      }

      @media only screen and (max-width: 450px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, min-content);
        grid-row-gap: 1rem;
      }
    }
    .bestSeller--grid,
    .featureProduct--grid {
      @media only screen and (max-width: 770px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, min-content);
        grid-row-gap: 1rem;
      }

      //### to reduce the area cuptured by
      // ### best seller I clear the 3rd and 4th image
      .options__lists--item:nth-child(3),
      .options__lists--item:nth-child(4) {
        @media only screen and (max-width: 770px) {
          display: none;
        }
      }
    }

    .options__lists--item {
      transition: all 1s;
    }

    .options__list--wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .options__lists--img {
      overflow: hidden;
      img {
        overflow: hidden;
        width: 100%;
        height: 100%;
        transition: all 0.6s;
      }
    }

    // ##### start options__lists--info ######
    .options__lists--info {
      padding-top: 0.3rem;
    }

    .options__lists--grid {
      display: flex;
      flex-direction: column;
      align-items: center;

      position: relative;

      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;

      .icon__option {
        display: none;
      }

      a {
        text-decoration: none;
        color: $color-black;

        font-size: 14px;
      }

      .rating--box {
        justify-self: center;
        display: flex;

        transform: translateX(5px);

        span svg {
          width: 13px;
          height: 13px;
          fill: $color-light-grey-3;
          cursor: pointer;
        }
      }

      .options__price {
        justify-self: center;
        padding-bottom: 1rem;
        transform: translateX(5px);
        p {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 600;
        }
      }

      .action__button {
        justify-self: center;
        transform: translateX(5px);

        button {
          border: 1px solid $color-light-grey-3;
          padding: 8px 10px;
          background: transparent;
          cursor: pointer;

          font-size: 10px;
          letter-spacing: 1px;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
    // ##### end options__lists--info ######

    // ###### start of hovering code #########
    .options__lists--item:hover .button__cart {
      background: $color-light-blue-1;
      border: 1px solid $color-light-blue-1;
      color: $color-white;
    }
    .options__lists--item:hover .options__lists--img img:hover {
      transform: scale(1.1);
    }

    .options__lists--item:hover .options__lists--grid a {
      color: $color-light-blue-1;
    }

    .options__lists--item:hover .options__lists--grid .icon__option {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: -65px;
      left: 20%;

      span {
        width: 40px;
        height: 40px;
        background: $color-white;
        border-radius: 50%;
      }
      //####this nested hoveris doing up on hover span gives blue color and svg white color
      span:hover {
        background: $color-light-blue-1;
        transition: all 0.5s;

        svg {
          fill: $color-white;
        }
      }
      span:not(:last-of-type) {
        margin-right: 5px;
      }
      svg {
        width: 18px;
        height: 18px;
        fill: $color-light-blue-1;
        transform: translate(11px, 11px);
      }
    }
    .options__lists--item:hover .options__lists--grid .icon--wrap {
      @media only screen and (max-width: 1000px) {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: -95px;
        left: 17%;
        flex-direction: row;
        flex-wrap: wrap;
      }

      @media only screen and (max-width: 770px) {
        top: -65px;
      }
      @media only screen and (max-width: 360px) {
        top: -95px;
      }
    }

    .options__lists--item:hover .options__lists--grid .icon--displace {
      @media only screen and (max-width: 450px) {
        left: 30%;
      }
    }

    // ###### end of hovering code #########
  }
  //   #### start of newproduct--option ######

  //   #### start of menu__content--bestSellers ######
  &__content--bestSellers,
  &__content--featuredProducts {
    padding-bottom: 2rem;
  }
  &__bestSellers--title,
  &__featuredProducts--title {
    border-bottom: 3px solid #d3d3d3;
    padding-bottom: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .bestSellers--title,
    .featuredProducts--title {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      transform: translateY(4px);
    }
    .bestSellers--arrow,
    .featuredProducts--arrow {
      display: flex;

      span {
        font-size: 25px;
        font-weight: 100;
        margin: 0 1px;
        color: $color-light-grey-3;
      }
      span svg {
        width: 18px;
        height: 18px;
        fill: $color-black-1;
      }
    }
  }

  //   #### end of menu__content--bestSellers ######
}
