@import "./style/config";

.App {
  display: grid;
  grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 9rem) [col-end]
    )
    [center-end] minmax(2rem, 1fr) [full-end];
  grid-template-rows: repeat(3, min-content);
}

// header {
//   grid-column: full-start / full-end;
//   grid-row: 1/2;

//   background: blueviolet;
// }

// main {
//   grid-column: full-start/full-end;
//   grid-row: 2 / 3;

//   background-color: yellowgreen;
// }

// footer {
//   grid-column: full-start / full-end;
//   grid-row: 3 / -1;

//   background: rebeccapurple;
// }
